*{
    padding: 0;
    margin: 0;
}
/* for white links */
#exception_links{
    color: #f0faf7;
    font-size: 26px;
    font-variant: small-caps;
}

.header{ 
    text-align: center;
    color: #FFC0CB;
    height: 50px;
    padding-top: 26px;
    background-color: #FF4162;
    position: static;
    font-variant: small-caps;
}

/*for the content in navigation bar*/
ul {
    list-style-type: none;
}


li a {
    color: #2C3333;
    text-decoration: none;
}
span{
    background-color: #FFFFF7;
    color: black;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5%;
    text-decoration: none;
    font-size: 16px;
    font-variant: small-caps;
}

li a.active{
    background-color: #f0faf7;
}
.navigation_bar{
    background-color: #FF4162;
    text-align: center;
    font-family: Optima, sans-serif;
    padding-top: 5px;
    display:flex;
    justify-content: center;
    align-content: center;
    
}

#navbar_item{
    color:white;
    margin: 30px;
}

/* The main body is divided into two parts: Upperbody and lower body */
/* formatting */
body{
    background-color: #FFFFF7 ;

}
main{
    padding:10px;
    font-size: 18px;
    width: 80vw;
    margin: auto;
    border-style:ridge;
    background-color:#FFD5C0;
}

.bodycontent{
    text-align: justify;
    margin: auto;
    font-size: 16px;
    font-family: Optima, sans-serif;
    padding-left: 10pt;
    padding-right: 10pt;
}

@media (max-width: 500px){
    .bodycontent{
        width: fit-content;
    }
}
/* link formatting */
a{
    color: purple;
}
  /* selected link */
a:active {
    color: black;
    text-decoration: none;
}
#cvtitle{
    border-bottom: black;
    border-radius: 1.5px;
}
#cvsection{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
}
#year{
    width: 90px;
    height: 100%;
    flex-shrink: 0;
    padding-top: 10pt;
}

#content{
    display: inline-block;
    padding-left: 10px;
    border-left: solid black;
    border-width: 1.5px;
}

#highlight_list{
    color: #2C3333; 
    padding: 5px; 
    font-variant: small-caps;
}

footer{
    text-align: center;
    font-size: 12px;
    padding: 5px;
    color: white;
    background-color: black;
    opacity: 0.8;
    width: 100vw;

}








