*{
    padding: 0;
    margin: 0;
}
/* for white links */
#exception_links{
    color: #f0faf7;
}

.header{ 
    text-align: center;
    background-color:#2C3333;
    color: #E7F6F2;
    height: 50px;
    padding-top: 10px;
    font-size: large;
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

li a {
    color: #2C3333;
    text-align: center;
    text-decoration: none;
}
span{
    background-color: #f0faf7;
    color: black;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
    
}

li a.active{
    background-color: #f0faf7;
}
.navigation_bar{
    background-color:#3d5b63;
    text-align: center;
    font-family: 'Georgia';
    padding-top: 10px;
}

#navbar_item{
    color: #f0faf7;
    margin: 10px;
}

/* The main body is divided into two parts: Upperbody and lower body */
/* formatting */
main{
    background-color: #f0faf7; 
    padding:10px;
    font-size: small;
}
.aboutme{
    text-align: center;
}

.headingline{
    display: inline;
}
.bodycontent{
    text-align: justify;
    width: 400px;
    margin: auto;
}

/* Content Edits (upperbody)*/
.aboutme{
    background-color: whitesmoke;
    padding:10px;
}

/* Content Edits (lowerbody)*/
.highlight{
    border-color: #2C3333;
}

/* link formatting */
a{
    color: purple;
}
  /* selected link */
a:active {
    color: black;
    text-decoration: none;
  }

#highlight_list{
    color: #2C3333; 
    padding: 5px; 
}

#year{
    padding:5px;
}
footer{
    text-align: center;
    font-size: smaller;
    background-color: #2C3333;
    opacity: 0.7;
    padding: 5px;
    color: #E7F6F2;
}










